<td>
  <%= link_to user.email, user %>
</td>
<td data-order="<%= user.last_sign_in_at.to_i %>">
  <%= user.last_sign_in_at.localtime.strftime("%B %d, %Y %H:%M") %>
</td>
<td data-order="<%= user.role %>">
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, {:disabled => user==current_user}) %>
  <% end %>
</td>
<td>
  <% unless user == current_user %>
    <%= link_to(user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger') do %>
      <%= fa_icon "trash" %> Delete
    <% end %>
  <% end %>
</td>


