<%= javascript_tag do %>
  window.vitalo_device_id = <%= raw @vitalo_device.id %>;
<% end %>


<% unless @vitalo_device.new_record? %>
  <%= link_to 'SpO2 Readings', '#history', class:'btn btn-default', id: 'spo2-btn', onclick: 'renderSpO2Data()' %>
  <%= link_to 'Pulse Readings', '#history', class:'btn btn-default', id: 'pulse-btn', onclick: 'renderPulseData()' %>
  <%= link_to 'Movement Readings', '#history', class:'btn btn-default', id: 'movement-btn', onclick: 'renderMovementData()' %>

  <hr>

  <div class="history-wrapper" id="spo2-wrapper" hidden>
    <h2>SpO2 Readings</h2>
    <div id="spo2-chart" style="width: 100%;"></div>
  </div>

  <div class="history-wrapper" id="pulse-wrapper" hidden>
    <h2>Pulse Readings</h2>
    <div id="pulse-chart" style="width: 100%;"></div>
  </div>

  <div class="history-wrapper" id="movement-wrapper" hidden>
    <h2>Movement Readings</h2>
    <div id="movement-chart" style="width: 100%;"></div>
  </div>

<% else %>
  <p class="text-center">
    You must first register a Vitalo Device to this patient to see historical readings.
  </p>
<% end %>
