<% unless @vitalo_device.new_record? %>
  <h2>
    Notifiers
    <%= link_to 'New Notifier', '#notifier', class: 'btn btn-default', onclick: "loadRemoteModal('#{new_vitalo_device_notifier_path(@vitalo_device)}', 'New Notifier')" %>
  </h2>
  <table class="table">
    <thead>
      <th> <!-- icon for enabled --></th>
      <th>Name</th>
      <th>Monitors</th>
      <th>Thresholds</th>
      <th>Notifications</th>
      <th>Note</th>
      <th><!-- Actions --></th>
    </thead>
    <tbody>
      <% @vitalo_device.notifiers.each do |notifier| %>
        <tr>
          <td><%= fa_icon notifier.enabled ? 'check' : 'times', class: 'notifier-enabled' %></td>
          <td><%= notifier.name %></td>
          <td><%= notifier.sensor %></td>
          <td><%= notifier.thresholds %></td>
          <td><%= notifier.notification_methods %></td>
          <td><%= notifier.note %></td>
          <td>
            <%= link_to 'Edit', '#notifier', class: 'btn btn-default btn-xs', onclick: "loadRemoteModal('#{edit_vitalo_device_notifier_path(@vitalo_device, notifier)}', 'Edit Notifier')" %>
            <%= link_to 'Destroy', vitalo_device_notifier_path(@vitalo_device, notifier), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center">
    You must first register a Vitalo Device to this patient to create notifiers.
  </p>
<% end %>