<h1>Listing Patients</h1>

<%= link_to 'New Patient', new_patient_path, class:'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.note %></td>
        <td>
          <%= link_to 'Show', patient, class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit Details', edit_patient_path(patient), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
