<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Vitalo App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vitalo App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class='wrapper'>
        <%= render 'layouts/messages' %>
        <div class="container">
          <%= yield %>
        </div>
        <div id="push"></div>
      </div>
    </main>
    <div id="footer">
      <div class="footer-contents">
        ELEC5622 Project
      </div>
    </div>
  </body>
</html>
