<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Vitalo App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vitalo App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
   <% unless @no_nav %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <% end %>
    <main role="main">
      <div class='wrapper'>

        <% if @no_nav %>
          <%= yield %>
        <% else %>
          <%= render 'layouts/messages'%>
          <div class="container">
            <%= yield %>
          </div>
      <% end %>




        <div id="push"></div>
      </div>
    </main>
  </body>
</html>
